    <h1 class="col-12 benefits-h1" >Why should you rent with us?</h1>
  <div class="container row m-auto w-75 d-flex position-relative main-bg main-bg-landlord justify-content-center">  
    <div class="card benefits-card landlord rounded">
      <div class="ubuntu text-center card-link bg-blueish text-white h7"></div>
      <h5 class="card-title h6 text-center mt-3">Benefits</h5>
      <ul>
         <li> Get your payments on time</li>
          <li> Rent your properties faster and easier</li>
          <li> We deal with the tenants for you</li>
          <li> We take care of repairs</li>
      </ul>
    </div>
     <div class="landlord-details">
      <h3>We manage all your payments</h3>
      <p>We don't want you to worry if you'll get the monthly payment 
      this time. We make sure everything runs smoothly so you just have
      to think on what you will spend your money this month.
      </p>
      <h3>Rent your property without the hussle</h3>
      <p>We have a vast network to find the best tenant for you. After
      uploading the details of your property, we will make sure that it
      gets the right exposure and you rent it fast.
      </p>
      <h3>Forget about the tenants</h3>
      <p>Finding the best person to live in your property is our mission.
      We will screen applicants, run background and credit checks, and
      find the suitable option for you. 
      </p>
      <h3>We take care of your property</h3>
      <p>With our repair insurance, you will not need to worry about your
      house getting damaged. After every contract, our specialized team of
      contractors will assess your property and take will make it look amazing
      for the next tenant.
      </p>
    </div>
</div>