  <div class="container m-auto w-75 d-flex position-relative main-bg main-bg-tenant">  
    <div class="card benefits-card tenant left rounded position-absolute">
      <div class="ubuntu text-center card-link bg-blueish text-white h7"></div>
      <h5 class="card-title h6 text-center mt-3">PAYMENTS</h5>
      <ul>
         <li> Get your payments on time every month</li>
          <li> Rent your properties faster and easier</li>
          <li> We screen tenants for credit checks and legal status </li>
          <li> We handle collections and evictions </li>
          <li> We take care of repairs for damages caused by tenants </li>
      </ul>
    </div>

     <div class="card benefits-card rounded tenant right position-absolute">
      <div class="ubuntu text-center card-link bg-blueish text-white h7"></div>
      <h5 class="card-title h6 text-center mt-3">SECURITY</h5>
      <ul>
         <li> Get your payments on time every month</li>
          <li> Rent your properties faster and easier</li>
          <li> We screen tenants for credit checks and legal status </li>
          <li> We handle collections and evictions </li>
          <li> We take care of repairs for damages caused by tenants </li>
      </ul>
    </div>
</div>