  
  <h1 class="col-12 benefits-h1" >Why should you rent with us?</h1>
  <div class="container row m-auto w-75 d-flex position-relative main-bg main-bg-tenant justify-content-center">  
    <div class="card benefits-card tenant rounded">
      <div class="ubuntu text-center card-link bg-blueish text-white h7"></div>
      <h5 class="card-title h6 text-center mt-3">Benefits</h5>
      <ul>
          <li> No security deposits </li>
          <li> You don't need a co-signer </li>
          <li> We take care of the paperwork </li>
          <li> Pay online or in 7-Eleven </li>
      </ul>
    </div>
    <div class="tenant-details">
      <h3>We care about your economy</h3>
      <p>We won't ask for any security deposits, fees or secret
          payments. The only thing you need to worry about is how
          long will it take to hang all your pictures on the wall.
      </p>
      <h3>We are your best friends</h3>
      <p>We know how hard it is to get a good place without having someone
        to co-sign your lease. That's why we act as your co-signers, taking
        care of all the legal aspects of your contract so that you just have
        to take the keys and move.
      </p>
      <h3>Forget about the complicated process</h3>
      <p>Our contracts are easy to understand and especially designed to take
      care of both parts. We will provide with a short list of documents in the
       beginning and we'll do the rest, so you don't have to sign a hundred papers.
      </p>
      <h3>Pay wherever you are</h3>
      <p>We provide easy payment methods, so you don't have to worry about that.
      We teamed up with 7-eleven so you can pay your rent there! Easy as buying
      groceries.
      </p>
    </div>
</div>