/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .card {
   font-family: ubuntu;
  .card-body {
    a {
     text-decoration: none !important;
     color: #4b4b4b !important;
     :hover {
       text-decoration: none;
       color: #4b4b4b;
    }
   }
  }
  .price{
    position: absolute;
    bottom: 0;
    right: 0;
    align-self: flex-end;
  }
 }

 .card-txt-format {
   color: #6c757d !important;
 }

.search-form {
  .form-fields {
    height: 42px;
    flex: 0 auto;
    border: solid 1px #e7b8d3;
    border-radius: 11px;
    background-color: #fff8f8;
  }  
 }

 .logoror {
    height: 40px !important;   
   }
   
   .h7 {
    font-size: 12px;
   }
   
   .bg-blueish.bg-blueish {
     background-color: #6610f2;
   }
   
   .btn-grad.btn-grad  {
     background-image: linear-gradient(47deg, #6610f2, #217aee 92%, #ffafec 98%, #fff);
     color: white;
     box-shadow: 1px 1px 3px 0 #089;
     border-radius: 10px;
     opacity: 0.72;
   }
   
   .ubuntu {
     font-family: 'Ubuntu', sans-serif;
   }
   
   .bold {
     font-weight: 700 !important;
   }
   
.titulo.titulo {
  color: #ab1993;
  font-size: calc(10px + 3vw) ;
}

.carousel-main {
  div {
    margin: 0 10px 0 10px;
  }
}

   
// Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Color system

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;


$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

$primary:       $blue !default;
$secondary:     $gray-600 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors  
);

@import "bootstrap";