.benefits {

  &-card {
    width: 18rem;
    padding-left: 0;
    padding-right: 0;
  }
}

.tenant,
.landlord {
  top: 250px;
  color: #4b4b4b;
  height: 50%;

  &-details h3 {
    margin-top: 30px;
  }
}

.tenant-details,
.landlord-details {
  margin-top: 300px;
  color: #212529;
}

.main-bg {
  height: 50vh;
  
  &-tenant {
    background: url(https://images.unsplash.com/photo-1581573950452-5a438c5f390f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1315&q=80) no-repeat 50%;
  }

  &-landlord {
    background: url(https://images.unsplash.com/photo-1498373419901-52eba931dc4f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80) no-repeat 50%;
  }
}

.benefits-h1 {
  margin-left: 110px;
}
  
