// Place all the styles related to the landing_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropDownOpts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    text-align: left;
    overflow-x: hidden;
    width: 150px;
    position: absolute;
    white-space: nowrap;
    width: 100%;
  }

  .search-container {
    max-width: 690px;
    margin: 60px auto;
  }

  .search-container form {
    display: flex;
    width: 100%;
  }

  .search-container input {
    height: 40px;
    box-sizing: border-box;
    padding: 5px 8px;
    border: 1px solid #e7e7e7;
  }

  .search-container .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    flex-grow: 0;
    width: 90px;
  }

  .formField {
    width: 100%;
    margin-bottom: 0;
    flex-grow: 1;
    z-index: 90;
  }

  .formField input {
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .formField input:active, .formField input:focus {
    box-shadow: 0 0 3px 0 #ab1993;
  }

  .search_btn {
    width: 70px;
  }

  .hidden {
    display: none;
  }

  .dropDownOpts {
    border: 1px solid #e7e7e7;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 100;
  }

  .click-catcher {
    z-index: 10;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    opacity: 0.6;
    top: 0;
    left: 0;
    pointer-events: all;
  }

  .dropDownOpts option {
    transition: 0.2s ease-in;
    width: 100%;
    padding: 5px 8px;
  }

  .dropDownOpts option:hover {
    background-color: skyblue;
  }