<nav class="navbar navbar-expand-lg navbar-light bg-light ubuntu">
  <a class="navbar-brand" href="/">
  <%= image_tag('logorentorent.png', class: 'logoror ml-4') %> </a>

 <div class="container ml-5">
  <div class=" container collapse navbar-collapse d-flex flex-nowrap justify-content-around pl-md-5 ml-md-5" id="navbarSupportedContent">
    <ul class="navbar-nav flex-grow-1">
      <li class="nav-item dropdown pl-md-3 ml-md-5">
        <a class="nav-link dropdown-toggle ml-md-5 h7 bold ubuntu" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
HOW DOES IT WORK?        </a>
        <div class="dropdown-menu shadow p-3 mb-5 bg-white rounded border-0 ml-md-5" aria-labelledby="navbarDropdown">
          <a class="dropdown-item h7 ubuntu" href="#">NO DEPOSIT UPFRONT</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item h7 ubuntu " href="#"> NO COSIGNER </a>
          <a class="dropdown-item h7 ubuntu " href="#"> LEARN MORE </a>
        </div>
      </li>
      <li class="nav-item dropdown pl-md-5 ml-md-5">
        <a class="nav-link dropdown-toggle ubuntu bold h7" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EARN MONEY
        </a>
        <div class="dropdown-menu ml-3 shadow p-3 mb-5 bg-white rounded border-0" aria-labelledby="navbarDropdown">
          <a class="dropdown-item ubuntu h7" href="#">LIST A PROPERTY</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item ubuntu h7" href="#">BECOME AN AGENT</a>
          <a class="dropdown-item ubuntu h7" href="#">REFERRAL PROGRAM</a>
        </div>
      </li>
       </ul>
       </div>
      <div class="nav-item d-flex justify-content-end text-nowrap">
        <a class="btn btn-grad mr-3 border-0" href="#" tabindex="-1" aria-disabled="true">Log in</a>
      </div>
   </div>
  
</nav>
